/* The heart of the matter */

.testimonial-group>.row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group>.row>.col-xs-4 {
    display: inline-block;
    float: none;
}

.force-style {
    margin-right: 0 !important;
}


/* Decorations */

.col-xs-4 {
    color: #fff;
    font-size: 48px;
    padding-bottom: 20px;
    padding-top: 18px;
}

.col-xs-4:nth-child(3n+1) {
    background: #c69;
}

.col-xs-4:nth-child(3n+2) {
    background: #9c6;
}

.col-xs-4:nth-child(3n+3) {
    background: #69c;
}

.fixed {
    /* float: left; */
    position: fixed;
    overflow: scroll;
    height: 100%;
}

.scrollit {
    float: right;
}

div.react-thumbnail-generator img {
    width: 100% !important;
}


/* ===================CSS FOR HIDING THE TWEETS ON MOBILE==================== */

.desk {
    /* width: 400px;
    height: 200px;
    background: red; */
}

.mobile {
    /* width: 400px;
    height: 200px;
    background: orange; */
}

@media screen and (max-width: 1920px) {
    .mobile {
        visibility: hidden;
    }
}

@media screen and (max-width: 600px) {
    .desk {
        visibility: hidden;
    }
    .mobile {
        visibility: visible;
    }
    .fixed {
        position: absolute !important;
    }
}